$primary-color: rgb(27, 35, 31);

@font-face {
    font-family: 'Shrikhand-Regular';
    src: local('Shrikhand-Regular'), url('../../fonts/Shrikhand-Regular.ttf') format("truetype");
}

$font-main: 'Shrikhand-Regular', sans-serif;
h2 {
    margin-left: 30px;
    font-family: 'Shrikhand-Regular';
}
.header{
    width: 100%;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-direction: raw;
    justify-content: center;
}

.header-main-image{
    background-image: url('../../images/cabecera2.svg');
    height: 200px;
    width: 500px;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.img-fondo-example{
    width: 10em;
    background-color: white;
}
/* (27, 35, 31); */
/* (10, 83, 45)
(99, 115, 105) */