.NavBar{
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    background-color: grey;
    list-style: none;
}

.NavBar_element{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;   
    width: 20%; 
}
.NavBar_element {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.NavBar_element span {
	transition: all 0.3s;
}
.NavBar_element::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: black;
	border-bottom-color: grey;
	transform: scale(0.1, 1);
}
.NavBar_element:hover span {
	letter-spacing: 2px;
}
.NavBar_element:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.NavBar_element::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(100, 100, 98, 0.1);
}
.NavBar_element:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}