

$primary-color: green;

$font-primary-color: black;

@font-face {
    font-family: 'Shrikhand-Regular';
    src: local('Shrikhand-Regular'), url('../src/fonts/Shrikhand-Regular.ttf') format('ttf');
  }
  
@import url('https://fonts.googleapis.com/css?family=Shrikhand');